@media (min-width: 780px) {
	.header__logo {
		margin: 0rem 0.5rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.header__logo__sub-title {
		display: block;
	}
}

@media (min-width: 1000px) {
	.header__logo__sub-title {
		margin-left: 1rem;
		font-size: 1.5em;
	}

	.header__nav {
		margin: 0rem 0.5rem;
		justify-content: flex-start;
	}

	.header__nav__link {
		padding: 0.3rem 0.8rem;
		margin: 0rem 0.3rem;
	}
}
