.avatar-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.avatar-panel__title {
}

.avatar {
	margin: 0.5rem;
	width: 15rem;
	height: 15rem;
	background-image: url("../../images/headshot.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	border: 0.12rem solid var(--secondary);
}
